{% extends 'base.html'%}

{% block header %}


  <div class="container">
    <table class="table table-sm">
        <h1>Items Listed</h1>
          <thead>
            <th>ID</th>
            <th>Product</th>
            <th>Price</th>
            <th>Brand</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
          </thead>
        <tbody>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>     

      </table>
    </div>
  </div>

  {% endblock %}