{% extends 'base.html' %}


{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    
<div class="container mt-5">
    <table class="table table-sm table-condensed table-striped">
        <h1>Current Listed Items</h1>
        <thead>
            <div class="col-md-4"></div>
            <th>Sr</th>
            <th>Product</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Brand</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>

            <div class="col-md-4"></div>
        </thead>
        <tbody>

            <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>OPEN BID</td>
            <td>BRAND</td>
            <td>BIDS</td>
            <td>IMAGE</td>
            <td>Edit</td>
            <td>Delete</td>
            </tr>

        </tbody>
    </table>
</div>


{% endblock %}