{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
{% endblock %}

{% block head %}
{{ super() }}
<link type="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
  <form method="POST" action="">
  


    
  </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
  $(function () {
    $('#datepick').datetimepicker();
  });
</script>
{% endblock %}