{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container mt-2">
    <!--Heading-->
    <div class="row">
        <span class="col">
            <h3 class="headp3">Watchlist of {{user.name}}</h3>
        </span>
        <span id="sortByText">
            Sort by:
        </span>
        <span id="sortBy">
            <select>
                <option>Ending Soonest</option>
                <option>Price:Low-High</option>
                <option>Price:High-Low</option>
                <option>Recently Added</option>
            </select>
        </span>
    </div>
    <!--End of the Heading-->

    <!--Watchlists-->
    <div class="container mt-2">
        {% for watchlist in user.watchlists %}
        <div class="row">
            <div class="col5">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{watchlist.auction.image}}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{watchlist.auction.name}}</h5>
                                <p class="card-text">$430<br>13 bids<br>0d 8h 10m left</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="col">
                <div class="">
                    <p class="">
                        Current Bid: <span id="big">AU $430</span>
                    </p>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="bid" aria-label="bid" id="inputbar">
                        <button class="btn btn-outline-dark my-2 my-sm-0">Place Bid</button>
                    </form>
                    <p class="text-muted">Enter AU $440.00 or more</p>
                </div>
            </span>
            <span class="col">
                <p class="">Item added 4 September 2020</p>
                <button type="button" class="btn btn-outline-danger mt-2">Remove from Watchlist</button>
                <button type="button" class="btn btn-outline-primary mt-2">View Item</button>
            </span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}